.icon-btn{
    border: none;
    background: transparent;
    font-size: 23px !important;
  }
  .icon-btn:hover{
    background: rgba(254, 254, 254, 0.804);
  }
  .icon-btn:active{
    background: white !important;
  }
  .sidebar-nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 31, 31, 0.3);
}

.sidebar-nav::-webkit-scrollbar {
  width: 12px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgb(88 107 135);
  background-color: rgb(88 107 135);
}

/* ..........login */

.main-bg{
  background-image:url(./assets//images/bg7.jpg) ;
 background-repeat: no-repeat;
 width: 100%;
 height:100vh;
  padding-left:140px;
  padding-right:140px;
 background-position:top;
 background-size: cover;

}
.main-bg *{
color: black;
}
.bg{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.box{
 width:100%;
 height:auto;
 border-radius: 18px;
 border:1px solid rgb(243, 240, 240);

display: flex;
justify-content:space-between;
background-color:transparent;

box-shadow: rgb(95 98 100) 3px 2px 13px -2px
}



.text-login{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
padding-top: 70px;
padding-bottom: 70px;
}
.bg-left{
 border-radius: 18px 0px 0px 18px;
 background-image:url(./assets//images/sp4.png) ;
 
 
 background-position: center;
 background-size:contain;
 background-repeat: no-repeat;
 background-color: #f7f7f7;

}
.fPIktX{
  justify-content: center !important;
}
.fs-1{
  color: black;
}